# 1. Deployment (The Backend Containers)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ${{ secrets.DOCKERHUB_USERNAME }}/portfolio-backend:latest
        ports:
        - containerPort: 8081
        env:
        - name: DATABASE_HOST
          value: postgres-cluster-ip-service  # Connects to the DB Service name
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: pg-secret
              key: user
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: pg-secret
              key: password
---
# 2. Service (Internal Networking for Frontend/DB)
apiVersion: v1
kind: Service
metadata:
  name: backend-cluster-ip-service
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 8081
      targetPort: 8081